.logo img {
  width: 210px;
  height: 50px;
}

section {
  margin-bottom: 100px;
}

.menu-text li {
  list-style-type: none;
}
.menu-text ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 22px;
}
.buttons button {
  color: #0fbf61;
  width: 150px;
  height: 50px;
  border: none;
  background-color: #ffffff;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.welcome {
  color: #0fbf61;
  font-size: 15px;
  border: none;
  background-color: #0fbf6118;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;

}
.text h1 {
  font-size: 40px;
}
.text {
  width: 400px;
}
.slider {
  display: flex;
}
.nkar > img {
  margin-left:300px;
  width: 450px;
  height: 450px;

}
.btn-green{
  border-radius: 5px;
  color:#FFFFFF;
  border:none;
  background-color: #0FBF61;
  padding:5px;
  font-size: 16px;
  width:110px;
  height:45px;
  text-align: center;
  }
  .click {
    display: flex;
  }
  .btn-black{
    margin-left: 20px;
    color:#151D41;
    background-color: #ffffff;
    border:2px solid #151D41;
    border-radius:5px;
    font-size: 16px;
    width:110px;
    height:45px;
    text-align: center;
  }
  .aknoc{
    width: 400px;
    height:400px;
  }
 
  .download{
    border:none;
    color:#ffffff;
    background-color: #0FBF61;
    width:175px;
    height:50px;
    border-radius:5px;
  }
  

  .title{
        font-size: 30px;
        color:#151D41
  }

  .description{
    font-size: 16px;
    color:#151D41;
  }

  .black{
    display: flex;
    justify-content: space-between;
  }

  .container {
    width: 1200px;
  }
  .white{
    width:350px;
    height:350px;
    background-image:url(../images/background.png)
  }
  .web{
width:200px;
height:200px;
border-radius: 50%;
box-shadow:rgba(19, 26, 56, 0.08) 0px 26px 48px 2px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  }
  .tokos{
    font-size:40px;
  }
  .glxavor{
    display:flex;
    justify-content:space-between;
  }


  .percent50 {
    background-image: url(../images/50%.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;   
  }
  .precent75{
    background-image: url(../images/75.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center; 
  }
  .precent25{
    background-image: url(../images/25.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center; 
  }
  .precent50{
    background-image: url(../images/50.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center; 
  }
  .servicis{
    color: #0fbf61;
    font-size: 15px;
    border: none;
    background-color: #0fbf6118;
    border-radius: 5px;
    border:none;
    width:175px;
    height:50px;
    border-radius:5px;
   padding:13px;
  }
  .folyo{
    margin-left:35px;
  }
  .nkarner{
    color:#151D41;
    display:flex;
    margin-left:345px;
    }
   .hello{
     width:300px;
     height:270px;
   }
   .Baky{
    width:300px;
    height:270px; 
   }
   .mardik{
    width:300px;
    height:270px;
  }
  .kyaj{
    width:300px;
    height:270px;
    display:block;
  }
  .product{
    width:300px;
    height:270px;
  }
  .registr input{
    width:320px;
    height:50px;
    border-radius:5px;
   border: 1px solid #151D41;
   padding:9px;
   vertical-align: middle;
  }
  
  .form-header{
    text-align: center;
    font-size:20px;
    font-weight: 700;
    margin-bottom: 55px;
  }
.namak input{
  width: 500px;
  height: 100px;
  border-radius:5px;
  border: 1px solid #151D41;
  vertical-align:middle;
  padding:15px;
}
.more{
  width:300px;
  height:270px;
}
.sit{
  color:#151D41;
background-color:#ffffff;
background-repeat: no-repeat;
background-size: 80% 80%;
width:200px;
height: 200px;
}
.day {
  width:350px;
  height:450px;
}
.lorem{
  width:350px;
  height:450px;
}
.imak{
  width: 350px;
  height: 450px;
}
.mardik{
  display:flex;
}